apiVersion: v1
kind: Namespace
metadata:
  name: express
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: express-deployment
  namespace: express
  labels:
    app: express
spec:
  replicas: 3
  selector:
    matchLabels:
      app: express
  template:
    metadata:
      labels:
        app: express
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - ip-192-168-4-254
            topologyKey: kubernetes.io/hostname
      containers:
      - name: express
        image: "192.168.11.51:5000/express:1.0.2"
        ports:
        - containerPort: 3001
        env:
        - name: PORT
          value: "3001"
        volumeMounts:
        - name: logs
          mountPath: /var/www/logs
      volumes:
      - name: logs
        persistentVolumeClaim:
          claimName: pvc-express
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-express
  namespace: express
spec:
  storageClassName: localstorage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-express
  namespace: express
spec:
  storageClassName: localstorage
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - ip-192-168-4-254
  persistentVolumeReclaimPolicy: Retain
  local:
    path: /home/ubuntu/express/logs

