apiVersion: apps/v1
kind: Deployment
metadata:
  name: express-deployment
  labels:
    app: express
spec:
  replicas: 3
  selector:
    matchLabels:
      app: express
  template:
    metadata:
      labels:
        app: express
    spec:
      containers:
      - name: express
        image: 192.168.11.51:5000/express:1.0.2
        ports:
        - containerPort: 3001
        env:
        - name: PORT
          value: "3001"